@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,500;0,700;1,400&display=swap");

body {
  font-family: Rubik;
  background: #f6f6f6;
}

.m-auto {
  margin: 0 auto;
}

.d-flex {
  display: flex;
}
.d-block {
  display: block;
}
.align-center {
  align-items: center;
}

.p-0 {
  padding: 0;
}

.mb-50 {
  margin-bottom: 50px;
}

.w-100 {
  width: 100%;
}

.text-center {
  text-align: center;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.center {
  justify-content: center;
  align-items: center;
  display: flex;
}

a {
  text-decoration: none;
  color: #4f5665;
}

ul {
  list-style-type: none;
  margin: 0;
}

li {
  display: inline;
}

.header {
  margin-top: 50px;
  margin-bottom: 50px;
  justify-content: space-between;
}

header .brand-name {
  font-size: 20px;
  font-weight: 500;
}

header img {
  margin-right: 10px;
  width: 35px;
}

header nav li {
  margin-right: 40px;
}

.auth a {
  font-size: 16px;
  font-weight: 500;
  display: inline-flex;
}

.auth .signin {
  margin-right: 30px;
}

.auth .signup {
  justify-content: center;
  align-items: center;
  color: #f53855;
  border: 1px solid #f53855;
  border-radius: 50px;
  width: 150px;
  height: 45px;
}

.intro {
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
}

.metrics {
  display: flex;
  justify-content: space-between;
  border: 2px solid #eeeff2;
  background: white;
  border-radius: 10px;
  border: 0px;
  box-shadow: 0px 13px 10px rgb(0 0 0 / 10%);
}

.metrics .block {
  flex: 1 1 0;
  display: flex;
  height: 200px;
  align-items: center;
  justify-content: center;
  position: relative;
}

.metrics .block::after {
  content: "";
  display: block;
  width: 1px;
  height: 125px;
  background: #eeeff2;
  position: absolute;
  right: 0;
  top: 50px;
}

.metrics .block:last-child::after {
  display: none;
}

.metrics .block .centered-square {
  display: flex;
  align-items: center;
}

.metrics .block .centered-square img {
  margin-right: 20px;
}

.metrics .block .centered-square > div {
  display: flex;
  flex-direction: column;
  height: 55px;
  justify-content: space-between;
}

.metrics .block .centered-square > div .amount {
  font-weight: 700;
  font-size: 25px;
}

.metrics .block .centered-square > div .text {
  font-weight: 400;
  font-size: 20px;
  color: #4f5665;
}

.buttonred {
  justify-content: center;
  align-items: center;
  display: flex;
  border: 1px solid #f53855;
  border-radius: 10px;
  width: 250px;
  height: 60px;
  background-color: #f53855;
  font-size: 16px;
  font-style: normal;
  box-shadow: 2px 2px 4px rgba(245, 56, 56, 0.35) !important;
}

a.buttonred {
  color: #ffffff;
  font-weight: 700;
}

.intro .info p,
.heading-text {
  margin-bottom: 50px;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 30px;
  text-align: justify;
  width: 555px;
  color: #4f5665;
}

.intro .info h2 {
  line-height: 80px;
  font-weight: 500;
  font-size: 50px;
}

.heading {
  line-height: 50px;
  font-weight: 500;
  font-size: 35px;
}
.info p {
  margin-top: 0px;
}

.info li {
  display: block;
  line-height: 40px;
  align-items: center;
  justify-content: center;
}
ul li img {
  width: 20px;
  justify-content: center;
  align-items: center;
  padding-right: 12px;
}
.intro .image img {
  width: 508;
  height: 414;
  padding-left: 184px;
}
.intro .info h1 {
  width: 383px;
  height: 50px;
  text-align: center;
}

.intro .info p {
  text-align: left;
}

.durak {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.durak .image {
  width: 508px;
  height: 414px;
  display: flex;
  align-items: left;
}

.plans .plans-description {
  max-width: 555px;
  color: #4f5665;
  line-height: 30px;
}

ul.vertical li {
  display: block;
  padding-right: 15px;
  justify-content: center;
  
}
.buttonredr {
  justify-content: center;
  align-items: center;
  display: flex;
  border: 1px solid #f53855;
  border-radius: 50px;
  width: 250px;
  height: 60px;
  background-color: ;
  font-size: 16px;
  font-style: normal;
  box-shadow: 2px 2px 4px rgba(245, 56, 56, 0.35);
}
.buttonredy {
  justify-content: center;
  align-items: center;
  display: flex;
  border: 1px solid #F53838;
  border-radius: 50px;
  width: 250px;
  height: 60px;
  background-color: #F53838;
  font-size: ;
  font-style: normal;
  box-shadow: 2px 2px 4px rgba(245, 56, 56, 0.35); 
  color: #eeeff2;
}

.box {
  width: 330px;
  height: 760px;
  border: 2px solid;
  border-color: #f53838;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  line-height: 60px;
  box-sizing: border-box;
  padding-top: 70px;
  padding-bottom: 20px;
  margin-top: 60px;
  
}

.d-flexcentered {
  display: flex;
  justify-content: center;
  gap: 50px;
}
.box .buttonredr {
  margin-top: auto;
   color: #F53838;
 
}
.box .heading {
  margin-top: auto;
}
.font18 {
  font-size: 18px;
  line-height: 30px;
  align-items: center;
  font-weight: 500;
  margin-top: 30px;
}
.font25 {
  font-size: 25px;
  line-height: 30px;
  align-items: center;
  font-weight: 500;
}
.font35 {
  font-size: 35px;
  line-height: 143%;
  text-align: center;
  font-weight: 500;
  display: flex;
  justify-content: center;
  margin-top: 150px;
  font-style: normal;
}
.font16 {
  font-size: 16px;
  line-height: 30px;
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
  color: #4f5665;
 
}
.mapvrap{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 80px;

}
.sponsors {
  display: flex;
  align-items: center;
  justify-content: center;
}
.font35nomargin {
  font-size: 35px;
  line-height: 143%;
  text-align: center;
  font-weight: 500;
  display: flex;
  justify-content: center;
  margin-bottom: -40px;
font-style: normal;
  }

.vertical{
  font-size: 14px;
}
.c-red{
  color: #F53838;

}.buttonredy h5{
  font-size: 16px;
}
.buttonredr h5{
  font-size: 16px;
}